<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="authService.userData">

  <ion-card>
    <ion-card-header>
      <ion-card-title *ngIf="authService.userData.displayName">
        Hello, {{ authService.userData.displayName }}
      </ion-card-title>
      <ion-card-title *ngIf="!authService.userData.displayName">
        Hello!
      </ion-card-title>
    </ion-card-header>

    <ion-row>
      <ion-col class="ion-text-center">
        <img [src]="authService.userData.photoURL == null ? 'https://firebasestorage.googleapis.com/v0/b/cxng-1.appspot.com/o/users%2Fprofile-image-placeholder.jpg?alt=media&token=858007b4-6c4d-47f4-9999-45b260b28492' : authService.userData.photoURL" class="rounded">
      </ion-col>
    </ion-row>
    
    <ion-list>
      <ion-item>
        <ion-label>Display Name</ion-label>
        <ion-note slot="end" *ngIf="authService.userData.displayName">
          {{ authService.userData.displayName }}
        </ion-note>
        <ion-note slot="end" *ngIf="!authService.userData.displayName">
          -
        </ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Email</ion-label>
        <ion-note slot="end">
          {{ authService.userData.email }}
        </ion-note>
      </ion-item>

      <ion-row>
        <ion-col class="ion-text-center">
            <ion-button 
              size="small" 
              color="secondary"
              (click)="openUserEditModal()">
              <ion-icon name="create-outline"></ion-icon>
              Edit
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-list>

    
  </ion-card>

  <ion-card>
    <ion-button 
      color="warning" 
      expand="block"
      (click)="authService.SignOut()">
      Sign out
    </ion-button>
    <ion-button 
      color="danger" 
      expand="block"
      (click)="authService.SignOut()">
      Delete Account
    </ion-button>
  </ion-card>  

</ion-content>
