<ion-content class="ion-padding">
  <!-- <div class="displayTable">
    <div class="displayTableCell">
  
      <div class="authBlock">
        <h3>Thank You for Registering</h3>
  
        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
          <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
        </div> -->
        
        <!-- Calling SendVerificationMail() method using authService Api -->
        <!-- <div class="formGroup">
          <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
            <i class="fas fa-redo-alt"></i>
            Resend Verification Email
          </button>
        </div>
  
      </div>
  
      <div class="redirectToLogin">
        <span>Go back to?<span class="redirect" routerLink="/sign-in"> Sign in</span></span>
      </div>
  
    </div>
  </div> -->

  <ion-grid *ngIf="authService.userData as user">
    <ion-row class="ion-justify-content-center ion-padding-top">
      <ion-col class="ion-text-center" size-lg="6" size-md="6" size-sm="6" size="12">

        <h1>Verify Email</h1>
        <h6>We have sent a confirmation email to <strong>{{user.email}}</strong></h6>
        <h6>Please check your email and click on the link to verfiy your email address.</h6>
        <p *ngIf="showForgotPassword" (click)="resendVerification()">resend verification email...? click here!</p>

        <ion-row style="padding-top: 30px">
          <ion-col class="ion-text-center">
            <ion-button 
              type="submit"
              size="large" 
              color="medium"
              routerLink="/sign-in" 
              routerDirection="forward"
              (click)="authService.SignOut()">
              Sign in
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
