<ion-content class="ion-padding">
  <ion-grid *ngIf="authService.userData as user">
    <ion-row class="ion-justify-content-center ion-padding-top">
      <ion-col class="ion-text-center" size-lg="6" size-md="6" size-sm="6" size="12">
        <h1>Verify Email</h1>
        <h6>We have sent a confirmation email to <strong>{{user.email}}</strong></h6>
        <h6>Please check your email and click on the link to verfiy your email address.</h6>
        <ion-button 
          color="light"
          size="small"
          [disabled]="!allowResend"
          (click)="resendVerification()">
          ({{ count }}) Resend Verification Email
        </ion-button>

        <ion-row style="padding-top: 30px">
          <ion-col class="ion-text-center">
            <ion-button 
              type="submit"
              size="large" 
              color="medium"
              routerLink="/sign-in" 
              routerDirection="forward"
              (click)="authService.SignOut()">
              Sign in
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
