<ion-header>
  <ion-toolbar>
    <ion-title>Add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let roomType of roomTypes">
    <img [src]="roomType.photoURL">
    <ion-button fill="outline" slot="end">Reserve a Room</ion-button>
    <ion-card-header>

      <ion-card-subtitle>{{ roomType.roomid}}</ion-card-subtitle>
      <ion-card-title>{{ roomType.name }}</ion-card-title>

    </ion-card-header>
    <ion-card-content>

      <ion-row>
        <ion-col>
          <p>{{ roomType.description }}</p>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-items-center">
        <ion-col>
          <p>Cost: {{ roomType.minPoints }} mins</p>
          <p>Minimum Player: {{ roomType.minPeople }}</p>
        </ion-col>

        <ion-col class="ion-text-end">
          <ion-button 
            fill="outline"
            size="small">
            Reserve
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>

</ion-content>
