<ion-content class="ion-padding">
  <!-- <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Reset Password</h3>
  
        <p class="text-center">Please enter your email address to request a password reset.</p>
  
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
        </div> -->
  
        <!-- Calling ForgotPassword from AuthService Api -->
        <!-- <div class="formGroup">
          <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>
  
      <div class="redirectToLogin">
        <span>Go back to ? <span class="redirect" routerLink="/sign-in">Log In</span></span>
      </div>
  
    </div>
  </div> -->
  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-padding-top">
        <ion-col class="ion-text-center" size-lg="6" size-md="6" size-sm="6" size="12">

          <h1>Email Recovery</h1>
          <p>Please enter your email address to request a password reset.</p>

          <ion-list lines="full">
            <ion-item>
              <ion-label position="floating" >Email</ion-label>
              <ion-input type="email" formControlName="email" ></ion-input>
            </ion-item>
          </ion-list>

          <p routerLink="/sign-in" routerDirection="forward">go back...? click here!</p>

        </ion-col>
      </ion-row>

      
      <ion-row *ngIf="forgotForm.valid" style="padding-top: 30px">
        <ion-col class="ion-text-center">
          <ion-button 
            type="submit"
            size="large" 
            color="medium">
            Next
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
