<ion-content class="ion-padding">
  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-padding-top">
        <ion-col class="ion-text-center" size-lg="6" size-md="6" size-sm="6" size="12">
          <h1>Email Recovery</h1>
          <p>Please enter your email address to request a password reset.</p>

          <ion-list lines="full">
            <ion-item>
              <ion-label position="floating" >Email</ion-label>
              <ion-input type="email" formControlName="email" ></ion-input>
            </ion-item>
          </ion-list>

          <p routerLink="/sign-in" routerDirection="forward">go back...? click here!</p>
        </ion-col>
      </ion-row>

      
      <ion-row *ngIf="forgotForm.valid" style="padding-top: 30px">
        <ion-col class="ion-text-center">
          <ion-button 
            type="submit"
            size="large" 
            color="medium">
            Next
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
