<ion-content class="ion-padding">
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-padding-top">
        <ion-col class="ion-text-center" size-lg="6" size-md="6" size-sm="6" size="12">
          <h1>Cxng</h1>

          <ion-list lines="full">
            <ion-item>
              <ion-label position="floating" >Email</ion-label>
              <ion-input type="email" formControlName="email" ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
          </ion-list>

          <p routerLink="/forgot-password">forgot password...? click here!</p>
          <p routerLink="/sign-up" routerDirection="forward">don't have an account...? click here!</p>
        </ion-col>
      </ion-row>
      
      <ion-row *ngIf="signInForm.valid" style="padding-top: 30px">
        <ion-col class="ion-text-center">
          <ion-button 
            type="submit"
            size="large" 
            color="medium">
            Next
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>  
</ion-content>
